.canvas {
    /* Flex Parent */
    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

.row1 {
    /* Flex Child */
    flex-grow: 3;

    /* Flex Parent */
    display: flex;
    flex-direction: row;

    margin: 0px;
    padding: 0px;
}

.row2 {
    /* Flex Child */
    flex-grow: 1;

    /* Flex Parent */
    display: flex;
    flex-direction: row; 
}

.vert-container {
    /* Flex Child */
    flex-grow: 1;

    /* Flex Parent */
    display: flex;
    flex-direction: column;
}

.box {
    /* Flex Child */
    flex-grow: 1;

    border: 1px solid black;
}

.box > h1 {
    margin: 5px;
}

.box > ul {
    padding: 0px 40px;

    /* Flex Parent */
    display: flex;
    flex-direction: column;
}

.box > ul > li { 
    margin-bottom: 5px;  
 }

.ListItem {
    /* Flex Child */
    flex-grow: 1;

    /* Flex Parent */
    display: flex;
    flex-direction: row;
}

.ListItem > input {
    /* Flex Child */
    flex-grow: 9;

    font-size: 22px;
    border-style: none;
}

.ListItem > button {
    /* Flex Child */
    flex-grow: 1;

    font-size: 22px;
}

.AddButton {
    margin: 5px;

    font-size: 22px;
}